
header{
    background-color: black;
    color: white ;
    padding: 0 128px ;

}
.headimg {
    max-width: 45%;
    height: auto;

}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.outer {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 64px;

}
.container {
    max-width: 400px;
    height: auto;

}
.author {
    display: flex;
    font-weight: bold;
    justify-content: right;
    font-size: 20px;
}
li {
    text-decoration: none;
    color: white;
    list-style: none;
}
body {
    display: flex;
    flex-direction: column;
}
ul {
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
    padding: 0;
    margin: 0;
}
.piccontainter {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.thumb {
    display:flex;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}
.box {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 130px;
    height: 200px;
    object-fit: fill;
    /*border: 2px solid blue;*/
    justify-content: center;
}
.awe {
    font-size: 48px;
    font-weight: 900;

}
.call {
    font-size: 18px;
    font-weight: 900;

}
button {
    color: white;
    background-color: blue;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 8px;
}

.quote {
    flex:1;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    margin-top: 32px;
    padding: 32px 132px;
}
.button2 {
    border: 2px solid white;
}

img {
    display: flex;


}




.rinfo {
    margin: 16px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.callborder {
    display:flex;
    flex-direction: row;
    background-color: blue;
    color: white;
    justify-content: space-around;
    padding: 32px 16px;
    margin: 32px;
}
a {

    color: white;
    text-decoration: none;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding-bottom: 12px;
    padding-top:24px;
}